Source: ttylog
Section: utils
Priority: extra
Maintainer: Robert James Clay <jame@rocasa.us>
Build-Depends: debhelper (>= 8)
Standards-Version: 3.9.2
Vcs-Git: git://git.code.sf.net/p/ttylog/code
Vcs-Browser: http://sourceforge.net/p/ttylog/code/
Homepage: http://ttylog.sourceforge.net

Package: ttylog
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: serial port logger
 Print everything to stdout that comes from a
 serial device. You can specify the device and
 the baud rate.
