Source: ttylog
Section: utils
Priority: extra
Maintainer: Robert James Clay <jame@rocasa.org>
Build-Depends: debhelper (>= 5)
Standards-Version: 3.8.0
Vcs-Svn: https://ttylog.svn.sourceforge.net/svnroot/ttylog
Vcs-Browser: http://ttylog.svn.sourceforge.net/viewvc/ttylog
Homepage: http://ttylog.sourceforge.net

Package: ttylog
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: serial port logger
 Print everything to stdout that comes from a
 serial device. You can specify the device and
 the baud rate.
